/* reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* first page css */
/* Onbording page css */
.body-1 {
  font-family: 'bookman old style', serif;
  background: linear-gradient(to top, #636F2F, #F1E8D8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main onbording container */
.onbording {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 450px;
  /* max size */
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* heading */
.onbording h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

/* image */
.Illustration {
  display: block;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  height: fit-content;
  margin: 0 auto;
}

/* strong Paragraphs */
.onbording p strong {
  font-size: 24px;
  color: #666;
}

/* paragraph */
.onbording p {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* Input field */
#name {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 18px;
  outline: none;
  transition: 0.3s;
}

/* Input focus effect */
#name:focus {
  border-color: #68ff77;
  box-shadow: 0 0 5px rgba(38, 121, 59, 0.3);
}

#name::placeholder {
  font-style: italic;
  color: #aaa
}

/* add butoon */
.startbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #9CA763;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* button hover */
button:hover {
  background: #74da9c;
  transform: scale(1.05);
}

/* first page css end */
/* Main to-do list page css start */


/* Body for main html*/
body {
  font-family: 'bookman old style', serif;
  background: #f5f7fb;
  color: #333;
}

/* dark mode theme */
body.dark-mode {
  background: #0f172a;
  color: #e5e7eb;
}

body.dark-mode .container {
  background: #1e293b;
  color: #e5e7eb;
}

.dark-mode #tasklist li {
  background: #334155;
  color: #e5e7eb;
}

.dark-mode .inputArea {
  background: #1e293b;
  border-color: #475569;
}

.dark-mode #taskInput {
  background: transparent;
  color: white;
}

.dark-mode header {
  background: #1e396d;
}

body.dark-mode .filter-btn {
  background: #4b596c;
  color: #e5e7eb;
}

body.dark-mode .filter-btn.Active {
  background: #636F2F;
  color: white;
}

body.dark-mode .filter-btn:hover {
  background: #374151;
}

/* Header area */
header {
  background: #9CA763;
  color: white;
  padding: 15px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 22px;
}

#WelcomeText {
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  margin-left: 10px;
}

/* dark Theme button */
nav button {
  background: rgb(231, 242, 227);
  color: #27492a;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 20px;
}

nav button:hover {
  background: #74da9c;
}

/* Main container for to-do.html*/
.container {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Input area */
.inputArea {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  background: #fff;
  gap: 10px;
  margin-bottom: 15px;
}

/* add new task */
#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

#taskInput:focus {
  border-color: #749c55;
}

/* Add button */
#addBtn {
  padding: 10px 12px;
  background: #9CA763;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

#addBtn:hover {
  background: #74da9c;
}

/* task filters */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter-btn {
  flex: 1;
  margin: 0 6px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  background: #e5e7eb;
  transition: 0.2s;
}

/* Active filter */
.filter-btn.Active {
  background: #9CA763;
  color: white;
}

.filter-btn:hover {
  transform: scale(1.05);
  background: #d1d5db;
}

/* Task list */
#tasklist {
  list-style: none;
}

/* Each task */
#tasklist li {
  background: #f1f3f9;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.25s ease;
}

/* task list animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

/* task status */
.status {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 20px;
}

.status.pending {
  background: #f4cc5d;
  color: #24241f;
}

.status.done {
  background: #70e68c;
  color: #141713;
}

/* Completed task */
.completed {
  text-decoration: line-through;
  color: #888;
}

/* delete taskbtn */
.delete-btn {
    background: #fb5454;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: #e04343;
}

/* footer area */
.footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

/* clear all btn */
#clearBtn {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: #fb5454;
  color: rgb(252, 252, 252);
  cursor: pointer;
}

#clearBtn:hover {
  background: #e94545;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  .filters {
    flex-direction: column;
  }
}